@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: #333;
}

img {
	max-width: 100%;
}

#wrap {
	margin: 50px auto;
	position: relative;
	width: 1200px;
	height: 600px;
}

.pic {
	width: 200px;
	position: absolute;
	top: 150px;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #777;
	cursor: pointer;
}

.prev {
	left: 0px;
}

.next {
	right: 0px;
}
.prev:hover,
.next:hover {
	color: #fff;
}
